.board {
  display: inline-block;
  padding: 5px;
  border: 2px solid #333;
  background-color: #aaa;
}

.row {
  display: flex;
}

.cell-btn {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  background-color: darkgray;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  padding: 0; /* reset default button padding */
  border-radius: 0; /* make square */
}

.cell-btn.revealed {
  background-color: lightgray;
}

.cell-btn.mine {
  background-color: red;
}

.cell-btn.number-1 { color: blue; }
.cell-btn.number-2 { color: green; }
.cell-btn.number-3 { color: red; }
